.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-n4 {
  margin-top: -1.5rem !important;
}
